<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd; font-family: 'Sans Serif Collection'; font-weight:bold">
    <img src="~/images/logoOpenLibrary_preview_rev_1.png" alt="" width="100" height="80" class="d-inline-block align-text-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Trang chủ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Loại sách
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Tâm lý - Kỹ năng</a></li>
                        <li><a class="dropdown-item" href="#">Tôn giáo - Tâm linh</a></li>
                        <li><a class="dropdown-item" href="#">Khoa học - Kỹ thuật</a></li>
                        <li><a class="dropdown-item" href="#">Kiến trúc - Xây dựng</a></li>
                        <li><a class="dropdown-item" href="#">Nông - lâm - ngư</a></li>
                        <li><a class="dropdown-item" href="#">Y học - Sức khỏe</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Xem thêm ....</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Yêu cầu mua sách</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quản lý đăng ký mượn</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Xin chào, Đặng Trung Hiếu
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Quản lý tài khoản</a></li>
                        <li><a class="dropdown-item" href="#">Quên mật khẩu</a></li>
                        <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Tìm kiếm sách ...." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
            </form>
        </div>
    </div>
</nav>
