<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">Chức vụ</th>
            <th scope="col">Chi nhánh</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Đặng Trung Hiếu</td>
            <td>Thủ thư</td>
            <td>Đại học Thủ Dầu Một</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Nguyễn Văn Tú</td>
            <td>Thủ thư</td>
            <td>Thành phố Hồ Chí Minh</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Ngô Văn Nam</td>
            <td>Thủ thư</td>
            <td>Thành phố Quảng Nam</td>
        </tr>
    </tbody>
</table>