
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Chức vụ</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Đặng Trung Hiếu</td>
            <td>18/11/2003</td>
            <td>Nam</td>
            <td>Độc giả</td>
            <td>Dĩ An</td>
            <td>dangtrunghieu831@gmail.com</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Nguyễn Văn Tú</td>
            <td>02/10/1987</td>
            <td>Nam</td>
            <td>Độc giả</td>
            <td>Thành phố Hồ Chí Minh</td>
            <td>nguyenvantu125@gmail.com</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Ngô Văn Nam</td>
            <td>12/07/1997</td>
            <td>Nam</td>
            <td>Độc giả</td>
            <td>Thành phố Quảng Nam</td>
            <td>ngovannam25@gmail.com</td>
        </tr>
    </tbody>
</table>
